.b {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.b::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(218, 218, 218);
    color: #FFF;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.b::before {
    content: "";
    background: linear-gradient( 45deg, #FF0000, #002BFF, #FF00C8, #002BFF, #FF0000, #002BFF, #FF00C8, #002BFF);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M805.8917124570161 159.12273313858609L767.8909423479047 240.6156476222682 909.1306991279835 256.87034554409416z' fill='rgba(77%2c 199%2c 188%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M670.9391923637444 195.9697688021472L588.4608291120509 327.96274141262285 720.4538017225266 410.44110466431636 802.9321649742201 278.4481320538407z' fill='rgba(77%2c 199%2c 188%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M959.711426213221 551.3129499234768L1043.527462250678 567.6051369191358 1059.819649246337 483.78910088167885 976.00361320888 467.49691388601985z' fill='rgba(77%2c 199%2c 188%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M174.72540555060837 26.53273183595646L101.75350686919059 92.1111076332623 182.84392083377148 120.03277633435738z' fill='rgba(77%2c 199%2c 188%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M226.07201957704027 22.807157529576976L268.24674037252106 95.85591674238128 341.2954995853254 53.68119594690051 299.12077878984456-19.367563265903804z' fill='rgba(77%2c 199%2c 188%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M274.8166944121119 358.6089869121063L163.6454452104063 403.52508714845106 208.56154544675107 514.6963363501566 319.73279464845666 469.78023611381184z' fill='rgba(77%2c 199%2c 188%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.b:hover::before {
    opacity: 1;
}

.b:active:after {
    background: transparent;
}

.b:active {
    color: #000;
    font-weight: bold;
}

.a {
    background-color: #fcfaf773;
}

.a1 {
    background-color: #c6c6c673;
}

.property-card {
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0), 0 2px 10px 0 rgb(0, 0, 0);
}

.property-card:focus,
.property-card:hover {
    box-shadow: 6.6px 11.5px 6.7px rgba(0, 0, 0, 0.075), 10.2px 17.8px 16.2px rgba(0, 0, 0, 0.08), 12.6px 22.1px 28.2px rgba(0, 0, 0, 0.08), 15.3px 26.8px 42.2px rgba(0, 0, 0, 0.078), 19.8px 34.8px 57.3px rgba(0, 0, 0, 0.076), 29.4px 51.5px 71.2px rgba(0, 0, 0, 0.073), 57px 100px 80px rgba(0, 0, 0, 0.07);
}


/* From cssbuttons.io */

.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: black;
}

.fancy:hover::before {
    width: 0.9375rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}